@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Open+Sans:wght@400;800&family=Roboto:ital,wght@0,100;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
}

.area-do-verbo{
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-da-area{
    font: 12px 'Roboto';
    color: #afb0b3;
    text-align: center;
}

.verbo-principal{
    text-transform: uppercase;
    text-align: center;
    font: 130px 'Open Sans';
    font-weight: bold;
    margin: 0px 20px 0px 20px;

    /* gradiente */
  background-image:linear-gradient(to right, #e3c924, #f38c19);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.verbo-principal-traducao{
    text-transform: uppercase;
    margin-bottom: 50px;
    font: 35px 'Open sans';
    color:#f38c19;
    letter-spacing: 2px;
}

.area-do-botao{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.botao-aprender-mais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    border: 0;
    background-color: #f38c19;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 15px;
    cursor: pointer;
}
.aprender-sobre{
    margin-left: 3px;
}
.botao-aprender-mais:hover{
    background-color: #995d18;
}

.botao-do-icone-random{
    margin-left: 10px;
    border: 0;
    background: 0;
}
.icone-random{
    font-size: 35px;
    color: #f38c19 ;
    cursor: pointer;
}
.icone-random:hover{
    color: #995d18 ;
}

@media (max-width:395px){
    .verbo-principal{
        font-size: 90px;
    }
    .verbo-principal-traducao{
        font-size: 30px;
    }
}

/*MODAL*/
.container-modal{
    display: none; /* mudar para none para fechar modal e vice-versa*/
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

.modal{
    max-width: 900px;
    height: auto;
    border-radius: 30px;
    padding: 70px;
    margin: 20px 30px 20px 30px;
    position: absolute;
    /*glassmorphism*/
    background: rgba( 255, 255, 255, .88 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exemplo-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-modal{
    font-family: 'Roboto';
    color: #292929;
    text-align: center;
}

.margin-traducao{
    margin-top: 40px;
}

.area-simplepast{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin: 40px 0px 40px 0px;
}
.verbo-principal-simplepast{
    color: #f38c19;
    font-family: 'Open sans';
    font-size: 30px;
    font-weight: 400;
}

@media (max-width:620px){
    .area-simplepast{
        flex-direction: column;
        justify-content:center;
    }
    .verbo-principal{
        font-size: 80px;
    }
    .area-do-botao{
    position: relative;
    top: 20%;
    }
    .area-do-verbo{
        height: 70vh;
    }
}
@media (max-width:430px){
    .modal{
        padding: 60px;
    }
    .div-botao{
        margin-top: 30px;
        margin-left: 30px;
    }
    .verbo-principal{
        font-size: 60px;
    }
}
@media (max-width:370px){
    .modal{
        padding: 25px;
    }
    .div-botao{
        margin-top: 30px;
        margin-left: 30px;
    }
}

.div-botao{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.botao-voltar{
    font-size: 40px;
    color: #e3b500 ;
    cursor: pointer;
}
.criado-por{
    text-align: center;
    font-family: 'Open sans';
    color: #292929;
    margin-top: 15%;
}
.icones{
    color: #292929;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}